<p> {{title}} </p>
<p [innerHTML]="title"> </p>
<p> title </p>


<p> {{htmlString}} </p> <!--VISUALIZZA CODICE HTML USATO-->
<p [innerHTML]="htmlString"> </p> <!--VISUALIZZA RISULTATO-->

<div>
  <a href="https://www.google.it/">Link</a>
</div>

<div>
  <a [href]="linkURL">Link</a> <!-- href come fosse una properties di angular-->
<!--Dopo le [] si aspetta una variabile già definita nell'app component-->
</div>

<div>
  <a href={{linkURL}}>Link</a> <!--si usa per le variabili-->
</div>


<div> {{lista[0]}} </div>
<div> {{lista[1]}} </div>
<div> {{lista[2]}} </div> 
<!-- DOVREBBE DARE ERRORE -->

<div  *ngFor="let pippo of lista">
  {{pippo}}
</div>


<p>{{titoloInput | uppercase}} works</p>
<p>{{titoloInput}}</p>

<p>{{myDate}}</p>
<p>{{myDate | date}}</p>
<!-- Ctrl k + c -->


<p>{{oggetto1?.chiave}}</p> 
<p>{{oggetto?.chiave}}</p>  
<!-- Se prprietà c'è restituisce valore, altrimenti stringa vuota -->
